<div id="body-container">
  <div class="left-header">
    <button (click)="goHome()" type="button" class="home-btn"></button>
  </div>
  <div class="play-info mt">
    Créditos
  </div>
  <div class="play-aq mt">
    <div class="logo-puce">
      <img src="../../assets/img/puce.png" width="250px">
    </div>
    <div class="play-answer">
      David Barreno - Programador
    </div>
    <div class="play-answer">
      Carlos Escobar - Programador
    </div>
    <div class="play-answer">
      Orlis Espinoza - Programador
    </div>
    <div class="play-answer">
      Benjamín Hidrobo - Diseñador
    </div> 
  </div>
</div>