@font-face {
    font-family: "Pixel Emulator";
    src: url("../fonts/Pixel Emulator.otf") format("opentype");
}
@font-face {
    font-family: "3Dventure";
    src: url("../fonts/3Dventure.ttf") format("truetype");
}

*{font-family: inherit;}

:root {
    --color-primary: #bc67c9;
    --color-secondary: #8982ef;
    --color-default: white;
}

body, ion-router-outlet {
    background-color: var(--color-primary);
}

#main-container {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.ion-page {
    background-color: var(--color-secondary);
    border-radius: 50px;
    box-shadow: 0px 0px 30px #00000060;
    margin: 5%;
    box-sizing: border-box;
}
ion-content{
    background-color: var(--color-secondary)!important;
}
#body-container{padding: 30px;height: 100%;
    width: 100%;
    overflow: auto;}
div#default-character {
    position: absolute;
    float: left;
    z-index: -1;
    cursor: crosshair;
}

div#game-start {
    float: right;
    position: relative;
    z-index: 1;
    font-family: "Pixel Emulator";
    color:white;
    text-align: center;
    font-size: 26pt;
    line-height: 1.5;
}
#index, .footer-container{max-width: 1300px;min-width: 400px; margin: 0 auto;}
div#index {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
}
#default-character img{width: 90%;}
.game-title {
    text-shadow: 6px 6px #85d0ad;
    font-size: 98pt;
}
.footer-left {
    float: left;
}
.footer-container{    display: table;
    width: 100%;}
div#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: table;
    font-family: '3Dventure';
    color: #8982ef;
    text-shadow: 2px 2px white, -2px -2px white, -4px 0px white, 2px 0px white, 0px -4px white, 0px 2px white, -4px -4px white;
    font-size: 23pt;
    letter-spacing: 5pt;
    padding:30px
}

.footer-right {
    float: right;
}