<div id="body-container">
  <ng-container *ngIf="winner && !loser">
    <div id="winner">
      <div class="right-header">
        <button (click)="goHome()" type="button" class="home-btn"></button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!winner && loser">
    <div id="loser">
      <div class="right-header">
        <button (click)="goHome()" type="button" class="home-btn"></button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!winner && !loser">
    <div id="play">
      <div class="play-header">
        <button (click)="goHome()" type="button" class="home-btn"></button>
        <div id="hp-bar">
          <div *ngFor="let live of lives" class="heart"></div>
        </div>
      </div>
      <div class="play-info mt">
        ROUNDS: {{round}}
        SCORE: {{score}}
      </div>
      <div class="play-aq mt" *ngIf="actualQuestion">
        <div class="play-question">
          {{actualQuestion['pregunta']}}
        </div>
        <ng-container *ngFor="let answer of actualQuestion['respuestas']; let i = index">
          <div (click)="checkAnswer(answer, actualQuestion['score'])" class="play-answer">
            {{i + 1}}.- {{answer.respuesta}}
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>