<div id="body-container">
  <div id="play">
    <div class="play-header">
      <button type="button" class="home-btn"></button>
      <div class="hp-bar">100xd</div>
    </div>
    <div class="play-info">
      ROUNDS: 2/10 
      SCORE: 0/100
    </div>
    <div class="play-answer">
      "Hemos aprendido a volar como los pájaros, a nadar como los peces, pero no ...................................................... M.L.K.
      <div class="play-answer">
        1- hemos aprendido el arte de vivir juntos, como hermanos"
      </div>
      <div class="play-answer">
        1- hemos aprendido el arte de vivir juntos, como hermanos"
      </div>
      <div class="play-answer">
        1- hemos aprendido el arte de vivir juntos, como hermanos"
      </div>
      <div class="play-answer">
        1- hemos aprendido el arte de vivir juntos, como hermanos"
      </div>
    </div>

  </div>
  <div id="footer">
    <div class="footer-container">
      <div class="footer-left">Jesuitas Ec</div>
      <div class="footer-right">V. {{version}}</div>
    </div>
  </div>
</div>