<div id="body-container">
  <div id="index">
    <div id="default-character">
      <img src="../../assets/img/p-default.png"/>
    </div>
    <div id="info-container">
      <div id="game-start">
        <div class="game-title">Trivia</div>
        <div class="game-subtitle">Para transformar al mundo</div>
        <div class="game-btn">
          <button routerLink="/play" class="play-btn" type="button"></button>
          <div class="game-extra">
            <button routerLink="/instructions" class="inst-btn" type="button"></button>
            <button routerLink="/score" class="score-btn" type="button"></button>
            <button routerLink="/credits" class="credits-btn" type="button"></button> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="footer-container">
      <div class="footer-left">Jesuitas Ec</div>
      <div class="footer-right">V. {{version}}</div>
    </div>
  </div>
</div>