<div id="body-container">
  <div id="index">
    <div id="default-character">
      <img src="../../assets/img/p-default.png"/>
    </div>
    <div id="info-container">
      <div id="game-start">
        <div class="game-title">Trivia</div>
        <div class="game-subtitle">Para transformar al mundo</div>
        <div class="game-btn">
          <button type="button">Jugar</button>
          <button type="button">Instrucciones</button>
          <button type="button">Puntuaciones</button>
          <button type="button">Creditos</button> 
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="footer-container">
      <div class="footer-left">Jesuitas Ec</div>
      <div class="footer-right">V. 1.0</div>
    </div>
  </div>
</div>